<div class="main-cotainer">
  <div class="img-container">
    <div class="image">  <img src="https://d1gcna0o0ldu5v.cloudfront.net/fit-in/320x410/assets/images/astrologer_baba.webp" class="img-fluid rounded-start" alt="..."></div>
    <div class="text-field-container">
      <div class="text-field">
        <p>200+ celebs recomends <strong>AstroGuide</strong></p>
      <p style="font-size: 2.5rem;">Chat With Astrologer</p>
      </div>
      <div class="chat-btn">
        <button (click)="chatNow()">Chat Now</button>
      </div>
    </div>
  </div>

  <!-- Image ends here  -->

    <div class="options">

      <a routerLink="/talkWithAustrologer">
        <div class="card-cotainer">
          <div class="icon" style="background-color: rgba(218, 122, 212, 0.801);">
            <i class='bx bx-message-rounded-add' style='color:#f8f8f8' ></i>
          </div>
          <div class="title">
            <p>chat With Astrologer</p>
          </div>
        </div>
      </a>
      <a routerLink="/talkWithAustrologer">
        <div class="card-cotainer">
          <div class="icon" style="background-color: rgba(72, 215, 184, 0.798);">
            <i class='bx bx-phone-call' style='color:#f8f8f8' ></i>
          </div>
          <div class="title">
            <p>Call Astrologer</p>
          </div>
        </div>
      </a>
      <a routerLink="/talkWithAustrologer">
        <div class="card-cotainer">
          <div class="icon" style="background-color: rgba(63, 129, 210, 0.744);">
            <i class='bx bx-cart-add' style='color:#f8f8f8' ></i>
          </div>
          <div class="title">
            <p>Astro Mall</p>
          </div>
        </div>
      </a>
      <a routerLink="/talkWithAustrologer">
        <div class="card-cotainer">
          <div class="icon" style="background-color: rgba(232, 132, 61, 0.675);">
            <i class='bx bxs-florist' style='color:#f8f8f8' ></i>          </div>
          <div class="title">
            <p>Book Pooja</p>
          </div>
        </div>
      </a>
    </div>
</div>