<div class="main-container">
  <nav class="navbar">
    <div class="brand navbar-brand">
      <a routerLink="/"><img src="https://aws.astrotalk.com/assets/images/astrotalk-header-logo.webp" alt="Logo" width="200" height="50" class="d-inline-block align-text-top"></a>
    </div>
    <div class="navs">
      <div class="nav1">
        <ul>
          <li><a routerLink="/freeKundali">Free Kundali</a></li>
          <li><a routerLink="/kundaliMatching">Kundali Matching</a></li>
          <li><a routerLink="">Horoscopes</a></li>
          <li>Language</li>
          <li><a routerLink="/auth"><button><i class='bx bxs-user'></i> Login</button></a></li>
        </ul>
      </div>
      <div class="nav2">
        <ul>
          <li><a routerLink="/chatWithAstrologer">Chat with Astrologer</a></li>
          <li><a routerLink="/talkWithAstrologer">Talk to Astrologer</a></li>
          <li><a routerLink="/bookpooja">Book Pooja</a></li>
          <li><a routerLink="/astromall">Astromall</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Content Area -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
